#slideshow {
	margin:0 auto;
	width:620px;
	height:220px;
	position:relative;
}
#container {
  margin:0 auto;
  width:420px;
  height:220px;
  overflow:auto; 
  position:relative;
}
#container .slide {
  margin:0 auto;
  width:620px; 
  height:220px;
}
.control {
  display:block;
  width:39px;
  height:220px;
  text-indent:-10000px;
  position:absolute;
  cursor: pointer;
}
#leftControl {
  top:0;
  left:-39;
  background:transparent url(./../inst_images/control_left.jpg) no-repeat 0 0;
  height : 220px;
}
#rightControl {
  top:0;
  right:-39;
  background:transparent url(./../inst_images/control_right.jpg) no-repeat 0 0;
  height : 220px;
}