#arrow0{
position: absolute;
width :7%;
margin-top: 10px;
margin-left: 10px;
transform:rotate(0deg);
-moz-transform: rotate(0deg);
-ms-transform:rotate(0deg); 
-webkit-transform:rotate(0deg);
}
#arrow1{
position: absolute;
width :7%;
transform:rotate(0deg);
-moz-transform: rotate(0deg);
-ms-transform:rotate(0deg); 
-webkit-transform:rotate(0deg);
}
#arrow2{
position: absolute;
width :7%;
transform:rotate(0deg);
-moz-transform: rotate(0deg);
-ms-transform:rotate(0deg); 
-webkit-transform:rotate(0deg);
}
#arrow3{
position: absolute;
width :7%;
transform:rotate(0deg);
-moz-transform: rotate(0deg);
-ms-transform:rotate(0deg); 
-webkit-transform:rotate(0deg);
}
#arrow4{
position: absolute;
width :7%;
margin-top: 10px;
margin-left: 10px;
transform:rotate(0deg);
-moz-transform: rotate(0deg);
-ms-transform:rotate(0deg); 
-webkit-transform:rotate(0deg);
}
#arrow5{
position: absolute;
width :7%;
transform:rotate(0deg);
-moz-transform: rotate(0deg);
-ms-transform:rotate(0deg); 
-webkit-transform:rotate(0deg);
}
#arrow6{
position: absolute;
width :7%;
transform:rotate(0deg);
-moz-transform: rotate(0deg);
-ms-transform:rotate(0deg); 
-webkit-transform:rotate(0deg);
}
#arrow7{
position: absolute;
width :7%;
transform:rotate(0deg);
-moz-transform: rotate(0deg);
-ms-transform:rotate(0deg); 
-webkit-transform:rotate(0deg);
}#arrow8{
position: absolute;
width :7%;
margin-top: 10px;
margin-left: 10px;
transform:rotate(0deg);
-moz-transform: rotate(0deg);
-ms-transform:rotate(0deg); 
-webkit-transform:rotate(0deg);
}
#arrow9{
position: absolute;
width :7%;
transform:rotate(0deg);
-moz-transform: rotate(0deg);
-ms-transform:rotate(0deg); 
-webkit-transform:rotate(0deg);
}
#obst2
{
	position: absolute;
	background-color: red;
	border-radius: 50%;
	margin-top: 15%;
	margin-left: 93.5%;
	width: 0.5%;
	height: 1%;
}
#obst1
 { 
 	border-radius: 50%;
 	margin-top: 12%;
 	margin-left: 90%;
 	width: 7%;
 	height: 16%; 
	background:black; 
	position:relative; 
	-webkit-animation:myfirst 20s linear 2s infinite alternate; /* Chrome, Safari, Opera */ 
	animation:myfirst 20s linear 2s infinite alternate; 
} /* Chrome, Safari, Opera */
	@-webkit-keyframes myfirst 
	{
	  0% { left:0px; top:-150px;} 
	  33.3% { left:0px; top:300px;} 
	  66.6% { left:0px; top:-150px;} 
	  100% { left:0px; top:300px;} 
	 } /* Standard syntax */ 

	 @keyframes myfirst 
	 { 
	  	0% { left:0px; top:-150px;} 
	  	33.3% {left:0px; top:300px;} 
	  	66.6% { left:0px; top:-150px;} 
	  	100% {left:0px; top:300px;} 
	 } 