body
{
	width: 100%;
	background: url("../it_images/vishnu1.jpeg") ;
	overflow:hidden;
	background-repeat: no-repeat; 
}
button
{
	width: 100px;
	height: 30px;
	border-radius: 60%;
}
#pause
{
	/*background-color: #654321;*/
	background-image:url("../it_images/paper3.gif");
	overflow:hidden;
	height: 70px;
	width: 103.55%;
	margin-left: -2em;
	margin-top: -70px;
	line-height: 4em;
	font-size: 20px;
	color: #654321;
}
span:hover
{
	cursor: pointer;
	text-transform: uppercase;
	color: rgba(0, 255, 255, 1);
	color: black;
	font-size: 30px;
	font-weight: bold;
	float: none;
	text-shadow:2px 2px #FFFFFF;
}
#gamespace
{
	top : 70px;
	position: absolute;
	height: 85%;
	width :99%;
	background-color: rgba( 255, 255, 255, 0.3);
	overflow: hidden;
}
#timespace
{
	position: center;
	text-align: center;
	margin-top: 6px;
	height: 30px;
	font-family: arial,monospace;
	font-size: 30px;
	background-color: none;
}
#winners{
	color: black;
	position: absolute;
	overflow: hidden;
	float: left;
	height: 400px;
	top: 6%;
	margin-left: 30%;
}
#scrs{
	color: black;
	position: absolute;
	float: left;
	overflow: hidden;
	margin-left: 60%;
	height: 400px;
	top: 6%;
}
#idiot{
	margin-top: 100px;
	font-size: 30px;
}