<html>
<head><title>doe</title>
<link rel="stylesheet" type="text/css" href="../static/css/styles.css" />
<link rel="stylesheet" type="text/css" href="../static/css/inst.css" />
<script src="../static/js/jquery.js"></script>
<script src="../static/js/vi.js"></script>
<script src="../static/js/slides.js"></script>
</head>
<body>
<div id="pause" onmouseover="show(this)" onmouseout="hide(this)">
<span style="margin-left:40%;" onclick="window.location.href = 'http://127.0.0.1:8000/bolt/default/mygame'">NEW GAME</span><span style="margin-left:50px;" onclick="loadXMLDoc('gamespace','http://127.0.0.1:8000/bolt/default/besties') , reset_timer() ">TOP 10</span><span style="margin-left:50px;" onclick="loadXMLDoc('gamespace','http://127.0.0.1:8000/bolt/default/credits') , reset_timer()">CREDITS</span>
</div>
<div id="timespace">ARROW HEAD</div>
<embed loop="true" src="http://www.vorbis.com/music/The_Abyss-4T.ogg" hidden="true" type="video/quicktime" ></embed>
<div id="gamespace" >
{{include}}
</div>
</body>
</html>