<html>
<head><title>doe</title>
<link rel="stylesheet" type="text/css" href="../static/css/styles.css" />
<script src="../static/js/jquery.js"></script>
<!--{{
response.files.insert(0,URL('views','css/styles.css')) }}
{{include 'web2py_ajax.html'}}
-->
<script>
	function show(x){
		x.setAttribute("style", "margin-top: -30px; text-transform:lowercase; ");
    }
	function hide(x){
		x.setAttribute("style", "margin-top: -80px; ");
	}
</script>
<script>
var a = new Array();
for (var i = 0; i <50 ; i++)
{
	a[i]=0;
};
function rotate(x){
	var y = x.slice(-1);
	a[y]=(a[y]+17)%360;
	if (a[y]==90 || a[y]== 270 ) {
		a[y]=a[y]+1;
	};
	$('#' + x ).css('transform','rotate('+ a[y] +'deg)').delay('6000');
}
function translate(x){
	alert("left=" + x.offsetLeft + "&&" + "top=" + x.offsetTop );
	var y = Math.tan((a[(x.id).slice(-1)]%360)*0.0174532925); 
	alert(a[(x.id).slice(-1)]%360 + " , " + y  );
}
</script>
</head>
<body>
<div id="pause" onmouseover="show(this)" onmouseout="hide(this)">
<span style="margin-left:400px;" onclick="">NEW GAME</span><span style="margin-left:50px;" onclick="">RESTART</span><span style="margin-left:50px;" onclick="">BESTIES</span><span style="margin-left:50px;" onclick="">CREDITS</span>
</div>
<div id="gamespace">
{{include}}
</div>
</body>
</html>
