{{mylist = [] }}
{{for i in range(0,len(rows)): }}
{{if rows[i]['cadet_name'] != None and len(rows[i]['cadet_name']) :}}
{{mylist.append((rows[i]['cadet_name'],int(rows[i]['score'])))}}
{{pass}}
{{pass}}
{{mylist}}
{{mylist=sorted(mylist,key= lambda x: x[1],reverse=True)}}
<div id="winners">
<b>Archers</b>
<br>
<br>
	{{for i in mylist:}}
	{{=i[0]}} 
	<br>
	<br>
	{{pass}}
</div>
<div id="scrs">
	<b>Scores</b>
	<br>
	<br>
	{{for i in mylist:}}
	{{=i[1]}} 
	<br>
	<br>
	{{pass}}
</div>