<div style="font-size: 60px;">
<center><img src="./../static/it_images/devil2.gif" width="30%" height="60%">
<br>
You aim bad but taste good

<img src="./../static/it_images/mini.png" width = "10%" height="30%" ></center>
</div>