{{extend 'home.html'}}
<link rel="stylesheet" type="text/css" href="./../static/css/first.css" />
 <div id="slideshow">
    <div id="container">
      <div class="slide">
<img src='./../static/inst_images/img1.png'>  
</div>
<div class="slide">
<img src='./../static/inst_images/img2.png'>
</div>
<div class="slide">
<img src='./../static/inst_images/img3.png' >
</div>
<div class="slide">
<img src='./../static/inst_images/img4.png' >
</div>
 <div class="slide">
<img src='./../static/inst_images/img5.png' >
</div> 
  <div class="slide">
<img src='./../static/inst_images/img6.png'>
</div>
    </div>
  </div>
<!--<div align=center style=" font-size: 10px;color: #dadada;" id="dumdiv"></div> -->
<center>
<br>
<h1 style="color:red;">Normal mode</h1>
<button onclick="loadXMLDoc('gamespace','http://127.0.0.1:8000/bolt/default/level1') , countdown('timespace',1,0)">Let's hunt </button>
<br>
<h1 style="color:red;">Try challenge mode</h1>
<button onclick="loadXMLDoc('gamespace','http://127.0.0.1:8000/bolt/default/splevel') , countdown('timespace',1,0)">Kill now</button>
</center>